body {
  background: #fafafa url(../images/body.jpg) 0 0 repeat;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #2e7bcf url(../images/header.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  color: white;
}

header h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 5em;
}

header .lead {
  color: #9ddcff;
  font-weight: normal;
  font-size: 2em;
}

#navMenu.affix {
  top: 0px;
}

#navMenu.affix {
  position: static;
}

@media screen and (min-width: 992px) {
  #navMenu.affix-bottom,
  #navMenu.affix {
    width: 212px;
  }
}

@media screen and (min-width: 1200px) {
  #navMenu.affix-bottom,
  #navMenu.affix {
    width: 262px;
  }
}

#navMenu>ul {
  margin: 30px 0px;
  padding: 5px 0px;
  background-color: #e5f6ff;
  border-radius: 5px;
}

#navMenu li.active>a {
  font-weight: bold;
  border-right: 1px solid #2a6496;
  background-color: transparent;
}

.container h2 {
  margin-top: 30px;
}

.container h2,
.container h3 {
  text-align: left;
}

.container h2:before {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
}

.container h3:before {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
}

.indent {
  padding-left: 10px;
}

img.decorator {
  max-width: 100px;
  max-height: 100px;
}

img.pull-left {
  margin-right: 1em;
  margin-bottom: 1em;
}

img.demo {
  width: 75%;
  height: auto;
  margin: auto;
  display: block;
}

.text-justify {
  text-align: justify;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}